<h1>Find Legislators by entering an area code</h1>
<form action = "/legislators" method = "get">
	<input type = "text" name = "zip" placeholder = "zip">
	<button> Find Legislators </button>
</form>
<%if @favorites then%>
	<%@favorites.each do |legislator| %>
		<p><a href = '/legsilators/<%=legislator.id%>'><%=legislator.firstname%></a><p>
	<%end%>
<%end%>
