<h2>Search for Legislators</h2>
<form action="/" method="post">
  <label for="zipcode">Enter a 5-digit ZIP code</label><br/>
  <input type="text" name="zipcode" autofocus="true">
  <button>Submit</button>
</form>

<h3>Favorite Legislators</h3>
<ul>
  <% @favorites.each do |favorite| %>
    <li>
      <a href="/legislator/<%= favorite.bioguide_id %>"><%= "#{favorite.title}. #{favorite.firstname} #{favorite.lastname}" %></a>
    </li>
  <% end %>
</ul>