<div class="span12 center">
  <form action="/" method="post">
    <input type="text" name="zipcode" placeholder="Search Legislators by Zip Code" /><br>
    <button class="btn btn-warning btn-large button-go">Go</button>
  </form>
</div>