<div class="search_container">
  <h1>Find Politicians</h1>

  <h4 span style="color: #393b39"> Enter ZipCode: </h4>

  <form action ="/" method ="post">
      <input type ="int" name ="zipcode" autofocus>
   </br>

  <button>Search</button>
  </form>
</div>
