
<div class="bigbox">
<div class="headline">Search Your Legislators Here</div>

<br>
<div class="searchbox">
Enter your zipcode here
  <form action="/result" method="get">
    <input name="zip_input" type="string" placeholder="Zipcode here" align="center">
    <button>Submit</button>
  </form>
</div>
</div>



