<h1>Find some Congresspeople</h1>
<form action="/" method="post">
  Zip Code:
  <br/>
  <input type="text" name="zip_code"></input>
  <br/>
  <button>Submit</button>
</form>

<p><%= @congresspeople %></p>