<form action="/politicians" method="get">
<input type="text" name="zip">

<button> Submit </button>

</form>

<% @favorites.each do |favorite| %>
  <%= favorite.firstname %> <%=favorite.lastname%>
<% end %>
