
<h1>Find a Local Politcian</h1>


<form action="/legislator" method="get">
  <label for="zipcode">Enter a Zipcode</label>
  <input type="text" name="zipcode" autofocus>
  <button>Search</button>
</form>

