<h1> Input ZIP Code </h1>
<div class="search_container">
  <h2 span style="color: #393b39"> Enter ZipCode: </h2>
  </br>

  <form action ="/legislator" method ="post">

      <input type ="int" name ="zipcode" placeholder ="Zip" autofocus>
   </br>

  <button>Search</button>
  </form>
</div>
