<% @legislators.each do |legislator| %>
  <%= legislator %>
<% end %>

<h2>Search for legislators by zip code</h2>
<form action="/legislator_search" method="post">
  <input type="text" name="zip" placeholder="Enter a 5-digit zip code" />
  <button>Search</button>
</form>