<!DOCTYPE>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Advent+Pro' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <title>KC Sunlight</title>
  </head>
  <body>
    <div class="row-fluid">
      <div class="span8 offset2">
        <header>
          <a href="/"><h2>KC Sunlight</h2></a>
        </header>
        <ul class="breadcrumb">
          <li><a href="/">Home</a> <span class="divider">/</span></li>
          <li><a href="/favorites">Favorites</a></li>
          <li class="pull-right"><a href="" class="btn btn-info btn-mini">TBU</a></li>
          <li class="pull-right"><a href="" class="btn btn-info btn-mini">TBU</a><span class="divider"> </span></li>
        </ul>
        <div class="row-fluid content">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>KC Sunlight by Kevon C</footer>
  </body>
</html>