<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Policoder</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
  <%= yield %>
  <a class="Home" href="/">Home</a>
  </body>
</html>
