<ul>
	<%@legislators.each do |legislator|%>
		<%party = legislator.party%>
		<%coloring = ""%>
		<% if party == "R" %>
			<% coloring = 'red' %>
		<% elsif party == "D" %>
			<% coloring = 'blue' %>
		<% end %> 

		<h3 style = "color: <%=coloring%>">

			<%=legislator.firstname%> <%=legislator.lastname%>
		</h3>
		<form action = '/favorite' method = 'post'>
			<input value =  "<%=legislator.votesmart_id%>" name = "votesmart_id" type = "hidden">
			<button> Favorite </button>
		</form>
	<%end%>
</ul>
