<h2>Legislators representing ZIP code <%= @zipcode %></h2>

<ul>
  <% @legislators.each do |legislator| %>
    <li>
      <h3>
        <a href="/legislators/<%= @zipcode %>/<%= legislator.bioguide_id %>">
          <%= "#{legislator.title}. #{legislator.firstname} #{legislator.lastname}" %>
        </a>
      </h3>
    </li>
  <% end %>
</ul>