@import url(http://fonts.googleapis.com/css?family=Average);
@import url(http://fonts.googleapis.com/css?family=Alike);

body {
  margin: 0 auto;
  background-color: #F2F2F2;
  font-family: "Average";
  color: #151515;
  text-align: center;
}
span {
  color: #610B0B;
  font-size: 40px;
}
a:hover {
  color: #FE2E2E;
  text-align: center;
}
h1 {
  color: black;
  text-align: center;
  letter-spacing: 2.0px;
}
h4 {
  font-family: "Alike";
  color: #585858;
}
.Home {
  line-height: 100px;
  text-decoration: none;
  text-align: center;
  color: #FA5858;
  font-size: 20px;
}
.search_container {
  text-align: center;
  display: block;
  margin: 50px 350px 0 350px;
  padding: 10px;
  font-family: "Average";
  font-size: 30px;
  letter-spacing: 2px;
  box-shadow: 0 3px 8px #888888;
  border-radius: 10px;
  background-color:rgba(255,255,255,255);
}
.politicians {
  text-align: center;
  display: block;
  margin: 50px 350px 0 350px;
  padding: 10px;
  font-family: "Average";
  font-size: 20px;
  box-shadow: 0 3px 8px #888888;
  border-radius: 10px;
  background-color:rgba(255,255,255,255);
}
